<article class="talent">
  <div id="page-cover">
    <div id="cover-image-container">
      <img id="cover-image" src="<%=image_url @talent.cover.url(:large) %>')" />
    </div>
  </div>
  <header id="page-header">
    <div id="header-content">
      <h1 id="page-title"><%= @talent.name %>
      <%= render partial: 'shared/save_button', locals: {talent: @talent} %>
      </h1>

    </div>
  </header>

  <div class="page-content">
    <section class="section">
      <div class="talent-atts">
        <div class="talent-att">
          <h1>
            <span class="icon-height"></span>
          </h1>
          <h2>
            <%= @talent.height_in(:cm) %> / <%=@talent.height_in(:ft) %>
          </h2>
        </div>
        <div class="talent-att">
          <h1>
            <span class="icon-gender"></span>
          </h1>
          <h2>
            <%= @talent.genders.join(' / ') %>
          </h2>
        </div>
        <div class="talent-att">
          <h1>
            <span class="icon-skills"></span>
          </h1>
          <h2>
            <%= @talent.skills.join(' / ') %>
          </h2>
        </div>
        <a class="action-button dark talent-att" href="<%= @talent.resume ? @talent.resume.url(:original, false) : '#' %>">
            <h1>
              <span class="icon icon-download"></span>
            </h1>
            <h2>
              Download cv
            </h2>
        </a>
      </div>
    </section> 

    <section id="lightbox" class="fullpage-section talent-gallery">
      <div class="gallery-main">
        <%= render partial: 'gallery_pic', locals: {image: @talent.avatar} %>
      </div>
      <% col = 0 %>
      <% @talent.gallery_pictures.group_by{|pic| pic.col}.each do |col, pics| %>
        <div class="gallery-col col-<%= col %>">
          <% if pics.first %>
          <%= render partial: 'gallery_pic', locals: {image: pics.first.image} %>
          <% end %>
          <%if pics.second %>
          <%= render partial: 'gallery_pic', locals: {image: pics.second.image} %>
          <% end %>
        </div>
      <% end %>
    </section>
    <section class="section">
      <h1 class="section-header">
        Featured Projects
      </h1>
      <div class="section-content">
        <% @talent.featured_projects.each do |project| %>
          <h2 class="project-title">
            <%= project.project.title %>
          </h2>
          <p>
            <%= project.project.description %>
          </p>
        <% end %>
      </div>
    </section>
    <section class="section">
      <h1 class="section-header">Similar</h1>
      <div class="section-content">
        <% @talent.get_similar.each do | similar | %>
          <%= render partial: 'shared/talent_card', locals: {talent: similar} %>
        <% end %>
      </div>
    </section>
  </div>
</article>
