<article class="talent">
  <div id="page-cover">
    <div id="cover-image-container">
      <img id="cover-image" src="<%=image_url @talent.cover.url(:large) %>" />
    </div>
  </div>
  <header id="page-header">
    <div id="header-content">
      <h1 id="page-title"><%= @talent.name %>
      <%= render partial: 'shared/save_button', locals: {talent: @talent} %>
      </h1>
    </div>
  </header>

  <div id="gallery-overlay">
    <div class="arrow back" data-direction="prev"></div>
    <div class="arrow fwd" data-direction="next"></div>
    <h1 class="gallery-header">
      <span class="gallery-close"> &#215; </span>
      <%= @talent.name %>
    </h1>
    <%= render partial: 'overlay_pic', locals: {
      image: @talent.avatar
    } %>
    <% @columns.flatten.each do |pic| %>
      <%= render partial: 'overlay_pic', locals: {
        image: pic.image
      } %>
    <% end %>
  </div>

  <div class="page-content">
    <section class="section">
      <div class="talent-atts">
        <div class="talent-att">
          <h1>
            <span class="icon-height"></span>
          </h1>
          <h2>
            <%= @talent.height_in(:cm) %> / <%=@talent.height_in(:ft) %>
          </h2>
        </div>
        <div class="talent-att">
          <h1>
            <span class="icon-gender"></span>
          </h1>
          <h2>
            <%= @talent.genders.join(' / ') %>
          </h2>
        </div>
        <div class="talent-att">
          <h1>
            <span class="icon-skills"></span>
          </h1>
          <h2>
            <%= @talent.skills.join(' / ') %>
          </h2>
        </div>
        <a class="action-button dark talent-att" href="<%= @talent.resume ? @talent.resume.url(:original, false) : '#' %>">
            <h1>
              <span class="icon icon-download"></span>
            </h1>
            <h2>
              Download cv
            </h2>
        </a>
      </div>
    </section>
    <section class="fullpage-section talent-gallery">
      <div class="gallery-main">
        <%= render partial: 'gallery_pic', locals: {
          size: :medium,
          image: @talent.avatar
        } %>

      </div>
      <% @columns.each_with_index do |pics, index| %>
        <div class="gallery-col col-<%= index + 1 %>">
          <% pics.each do |pic| %>
            <%= render partial: 'gallery_pic', locals: {
              size: :medium,
              image: pic.image
            } %>
          <% end %>
        </div>
      <% end %>
    </section>
    <section class="section section-projects">
      <h1 class="section-header">
        Selected works
      </h1>
      <div class="section-content">
        <% @talent.featured_projects.each do | f_p | %>
          <% project = f_p.project %>
          <article class="project-card">
            <div class="project-metadata">
              <h2>
                 <%= project.project_type.titleize %> | <%= project.date.year %><br/>
              </h2>
              <% if project.director %>
                <h2>
                <%= "Directed by #{project.director.strip}" %>
                </h2>
              <% end %>

              </h3>
            </div>
            <div class="project-content">

            <h1><%= project.display_title %></h1>
            <p><%= project.description %>
                <%= (project.link.nil? || project.link.empty?) ? "" : "(#{link_to("Visit website", project.link)})".html_safe %>

                </p>
            </div>
          </article>

        <% end %>
      </div>
    </section>
    <section class="section section-similar">

      <h1 class="section-header">
        Our suggestions
      </h1>
      <div class="section-content">
        <% @talent.get_similar.each do | similar | %>
          <%= render partial: 'shared/talent_card', locals: {talent: similar} %>
        <% end %>
      </div>
    </section>
  </div>
</article>
