<article id="main" class="article">
  <div class="page-content">
    <section class="section">
      <div class="article">
        <% if @article.has_media %>
          <div class="article-hero">
            <% if has_video %>
              <% oembed = @article.article_video.oembed %>
              <% aspect_ratio = (oembed.width && oembed.height) ? (oembed.height.to_f/oembed.width.to_f * 100).to_s + "%" : "56%"%>
              <div class="article-video" style="padding-bottom:<%= aspect_ratio %>">
                <%= oembed.html.html_safe %>
              </div>
            <% elsif has_images %>
              <%= render partial: 'article_carousel', locals: { images: @article.article_images } %>
            <% end %>
          </div>
        <% end %>
        <div class="article-header">
          <h1 class="article-title">
            <%= @article.title %>
          </h1>
          <h2 class="article-subtitle">
            <%= @article.subtitle %>
          </h2>
        </div>
        <div class="article-content">
          <p>
            <%= @article.sanitized_content %>
          </p>
        </div>
        <div class="article-logo">
          <span class="icon-logo"></span>
        </div>
      </div>
    </section>
  </div>
</article>