<!doctype html>
<html class="no-js">
<head>
  <%= render 'application/head' %>
  <%= yield :head %>
  <%= auto_discovery_link_tag(:atom, articles_url(format: "atom"), {title: CONFIG[:feed_title]}) %>
  <%= stylesheet_link_tag    "lines/application", media: "all" %>
  <%= javascript_include_tag "lines/application" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%=params[:controller].parameterize%> <%= params[:action]%>" data-action="<%= params[:action] %>" data-controller="<%=params[:controller]%>">

  <div class="blog-page" style="margin-top: 83px;">
    <%= render partial: 'application/navigation' %>

    <% if current_lines_user %>
      <%= render_navbar do %>
        <%= link_to t('lines.buttons.new_article').html_safe, new_admin_article_path, class: "btn btn-new-article highlight" %>
        <%= link_to t('lines.buttons.dashboard').html_safe, admin_articles_path, class: "btn btn-view-blog" %>
      <% end %>
    <% end %>
    <%= render 'layouts/lines/markdown_cheatsheet' %>

    <article class="page-content">
      <%= yield %>
    </article>

    <%= render partial: 'application/footer' %>
    <%= render 'application/aside' %>
  </div>
</body>
</html>
