<!DOCTYPE html>
<html>
<head>
  <title>Conspirators</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="google-site-verification" content="z-REkvBCC03PBZmbPB9M7ZItuliHNXpU5B77UzeG75Q" />
  <%= csrf_meta_tags %>
</head>
<body>
<nav id="navigation">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag 'logo-snakes.svg' %>
    </a>
  </div>
</nav>
<%= yield %>

</body>
</html>
